<!DOCTYPE html>
<html ng-app="roboshot">
	<head>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
		<style>
			body{
				font-family:'Lora', 'sans serif';
				background:url('/img/kindajean.png');
			}
			.input {
				font-family:'Lora', 'sans serif';
			}
			.blue-shade {
				text-shadow:black 0px 0px 5px;
				color:#21aeff;
			}
			.box
			{
				position: relative;
				padding: 50px;
				margin: 0 auto;
				background-color: #fff;
				-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
				-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
			}
		</style>
	</head>
	<body ng-controller="MainCtrl">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="row">
						<div class="span12">
							<a class="brand big-brand" href="/"><h1><i class="icon-camera-retro blue-shade"></i> Roboshot</h1></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="container" style="padding-top:150px;">
			<div class="row">
				<div class="span12">
					<div class="box" align="center">
						<h2 style="color:#777;">
							<i id="main-processing" class="icon-globe" style="padding-right:8px;"></i>
							Enter a web address 
							<span style="padding-left:13px;">
								<input class="input input-xxlarge" type="url" style="margin-right:34px;font-size:21px;line-height:25px;padding-top:13px;padding-bottom:13px;padding-left:13px;" placeholder="http://www.example.com" enter-keypress="grabPic()" ng-model="url"></input>
							</span>
						</h2>
						<div style="padding-bottom:34px;"></div>
						<div class="row">
							<div class="span8">
								<div class="well">
									<p id="theplan" style="margin-top:34px;color:#777">If all goes according to plan, then this is where your pic will live...</p>
									<div id="main-pic">
										<a ng-href="{{pics[0].url}}"><img class="img-rounded" ng-src="{{pics[0].url}}" cool-fade/></a>
									</div>	
								</div>
							</div>
							<div class="span3">
								<ul class="unstyled">
									<li class="well">
										<a ng-href="{{pics[1].url}}"><img class="img-rounded" ng-src="{{pics[1].thumb.url}}" cool-fade/></li></a>
									<li class="well">	
										<a ng-href="{{pics[2].url}}"><img class="img-rounded" ng-src="{{pics[2].thumb.url}}" cool-fade/></li></a>
									<li class="well">	
										<a ng-href="{{pics[3].url}}"><img class="img-rounded" ng-src="{{pics[3].thumb.url}}" cool-fade/></li></a>
								</ul>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
		<script>
			var app = angular.module("roboshot",[]);
			
			app.directive('enterKeypress', function(){
  			return {
    			restrict: 'A',
    			link: function(scope, elem, attr, ctrl) {
      			elem.bind('keypress', function(event){
							if(event.which == 13){
        				scope.$apply(function(s) {
         	 				s.$eval(attr.enterKeypress);
        				});
							}
      			});
    			}
  			};
			});	
	
			app.directive('coolFade', function() {
				return {
					link: function(scope,elm,attr,ctrl){
						// watch the expression, and update the UI on change.
      			scope.$watch(scope.pics[0], function() {
        			$(elm).css('opacity', 0.0);
       				$(elm).animate({ opacity : 1.0 }, 1000 );
      			});
					}
   			};
			});
	
			function MainCtrl($scope,$http){
				$scope.shiftPics = function(newpic){
					$scope.pics[3] = $scope.pics[2];
					$scope.pics[2] = $scope.pics[1];
					$scope.pics[1] = $scope.pics[0];
					$scope.pics[0] = newpic;
				}
				$scope.grabPic = function(){
					$("#main-processing").removeClass("icon-globe");
					$("#main-processing").addClass("icon-spinner icon-spin");
					
					$http.post("api/pics",JSON.stringify({url:$scope.url})).success(function(d){
						$("#theplan").hide();
						$scope.shiftPics(d);
						$("#main-processing").removeClass("icon-spinner icon-spin");
						$("#main-processing").addClass("icon-globe");
					}).error(function(d){
						$("#main-processing").removeClass("icon-spinner icon-spin");
						$("#main-processing").addClass("icon-globe");
					});
				}
				$scope.pics = [
				{
					url:'/img/pic-placeholder-big.png',
					thumb:{url:'/img/pic-placeholder-sm.png'},
				},
				{
					url:'/img/pic-placeholder-big.png',
					thumb:{url:'/img/pic-placeholder-sm.png'},
				},
				{
					url:'/img/pic-placeholder-big.png',
					thumb:{url:'/img/pic-placeholder-sm.png'},
				},
				{
					url:'/img/pic-placeholder-big.png',
					thumb:{url:'/img/pic-placeholder-sm.png'},
				}
				];
			}
		</script>
	</body>
</html>
